@{
    ViewBag.Title = "Contact";
}
<div id="loginModal" tabindex="-1" role="dialog" aria-lebelledby="loginModalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog modal-sm">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 id="loginModalLabel" class="text-uppercase modal-title m-0">Customers login</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="small text-muted">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <input type="email" placeholder="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="password" class="form-control">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-primary nav-btn btn-sm"> <i class="fas fa-sign-out-alt mr-2"></i>Login </button>
                    </div>
                </form>
                <div class="text-center">
                    <p class="text-muted small">Not registered yet?</p>
                    <p class="small text-muted"> <a href="#" class="font-weight-bold">Register now!</a> It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-5 bg-cover bg-gray">
    <div class="container py-5">
        <div aria-label="breadcrumb" class="nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">Contact</li>
            </ol>
        </div>
        <h1 class="lined">Contact</h1>
    </div>
</section>
<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12 ml-auto">
                <div class="col-lg-12 col-md-6 mb-4">
                    <div class="icon mb-4"><i class="pe-7s-pen"></i></div>
                    <h5 class="lined mb-4">Contact form</h5>
                    <form id="contact-form" method="post" action="contact.php" class="contact-form form">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="name" class="font-weight-normal">Firstname</label>
                                <input id="name" type="text" name="name" class="form-control">
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="surname" class="font-weight-normal">Lastname </label>
                                <input id="surname" type="text" name="surname" class="form-control">
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="email" class="font-weight-normal">Email</label>
                                <input id="email" type="email" name="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="subject" class="font-weight-normal">Subject</label>
                                <input id="subject" type="text" name="subject" class="form-control">
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="message" class="font-weight-normal">Message</label>
                                <textarea id="message" rows="4" name="message" class="form-control"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-outline-primary"> <i class="far fa-envelope mr-2"> </i>Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>