<div id="loginModal" tabindex="-1" role="dialog" aria-lebelledby="loginModalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog modal-sm">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 id="loginModalLabel" class="text-uppercase modal-title m-0">Customers login</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="small text-muted">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <input type="email" placeholder="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="password" class="form-control">
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-primary nav-btn btn-sm"> <i class="fas fa-sign-out-alt mr-2"></i>Login </button>
                    </div>
                </form>
                <div class="text-center">
                    <p class="text-muted small">Not registered yet?</p>
                    <p class="small text-muted"> <a href="#" class="font-weight-bold">Register now!</a> It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section style="background: url(img/jumbotron1.jpg)" class="py-5 bg-cover bg-center">
    <div class="hero-overlay"></div>
    <div class="container py-5 text-white text-center">
        <h1 class="text-shadow hero-heading">This is Multi</h1>
        <p class="text-shadow lead my-4">Bootstrap Multipurpose Template by <a href="#" class="text-white">Bootstrapious.com</a></p><a href="#" class="btn btn-outline-light btn-sm">Learn More</a>
    </div>
</section>
<section class="py-5">
    <div class="container py-5">
        <h2 class="mb-4">Mauris placerat eleifend leo.</h2>
        <p class="lead">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
        <p class="text-small">Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p><a href="#" class="btn btn-outline-primary btn-sm">Read More</a>
    </div>
</section>
<section class="bg-gray py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="#" class="d-block"><img src="img/blog1.jpg" alt="" class="img-fluid mb-4"></a>
                <h3 class="h5 mb-4"><a href="#" class="text-dark">Rit eget tincidunt condimentum</a></h3>
                <p class="text-small">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p><a href="#" class="btn btn-outline-primary btn-sm">Continue reading</a>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <a href="#" class="d-block"><img src="img/blog2.jpg" alt="" class="img-fluid mb-4"></a>
                <h3 class="h5 mb-4"><a href="#" class="text-dark">Tempor sit amet</a></h3>
                <p class="text-small">Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p><a href="#" class="btn btn-outline-primary btn-sm">Continue reading</a>
            </div>
            <div class="col-lg-4">
                <a href="#" class="d-block"><img src="img/blog3.jpg" alt="" class="img-fluid mb-4"></a>
                <h3 class="h5 mb-4"><a href="#" class="text-dark">Vestibulum erat wisi</a></h3>
                <p class="text-small">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p><a href="#" class="btn btn-outline-primary btn-sm">Continue reading</a>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-5">
        <h2 class="mb-5">Integrations</h2>
        <div class="row mb-2">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="icon mb-4"><i class="pe-7s-alarm"></i></div>
                <h5 class="lined mb-4">Webdesign</h5>
                <p class="text-muted text-small">Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="icon mb-4"><i class="pe-7s-cloud"></i></div>
                <h5 class="lined mb-4">Print</h5>
                <p class="text-muted text-small">Advantage old had otherwise sincerity dependent additions. It in adapted natural.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="icon mb-4"><i class="pe-7s-coffee"></i></div>
                <h5 class="lined mb-4">SEO and SEM</h5>
                <p class="text-muted text-small">Am terminated it excellence invitation projection as. She graceful shy.</p>
            </div>
        </div>
        <h2 class="mb-5">Tools</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="icon mb-4"><i class="pe-7s-monitor"></i></div>
                <h5 class="lined mb-4">Consulting</h5>
                <p class="text-muted text-small">Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="icon mb-4"><i class="pe-7s-signal"></i></div>
                <h5 class="lined mb-4">Email Marketing</h5>
                <p class="text-muted text-small">Advantage old had otherwise sincerity dependent additions. It in adapted natural.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="icon mb-4"><i class="pe-7s-id"></i></div>
                <h5 class="lined mb-4">UX &amp; UI</h5>
                <p class="text-muted text-small">Am terminated it excellence invitation projection as. She graceful shy.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-gray">
    <div class="container py-5">
        <h2 class="lined mb-4">Portfolio</h2>
        <p class="lead">You can make also a portfolio or image gallery.</p>
        <div class="row">
            <a href="img/portfolio-1.jpg" data-lightbox="gallery" data-title="Description of Project No.1" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-1.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-2.jpg" data-lightbox="gallery" data-title="Description of Project No.2" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-2.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-3.jpg" data-lightbox="gallery" data-title="Description of Project No.3" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-3.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-4.jpg" data-lightbox="gallery" data-title="Description of Project No.4" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-4.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-5.jpg" data-lightbox="gallery" data-title="Description of Project No.5" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-5.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-6.jpg" data-lightbox="gallery" data-title="Description of Project No.6" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-6.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-7.jpg" data-lightbox="gallery" data-title="Description of Project No.7" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-7.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-8.jpg" data-lightbox="gallery" data-title="Description of Project No.8" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-8.jpg" alt="" class="img-fluid"></a><a href="img/portfolio-9.jpg" data-lightbox="gallery" data-title="Description of Project No.9" class="col-lg-4 col-sm-6 p-0"><img src="img/portfolio-9.jpg" alt="" class="img-fluid"></a>
        </div>
    </div>
</section>